[Unit]
Description=Service for running the bot

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/novikn552ta/cmd/
ExecStart=/bin/bash -c "make start_bot"
Restart=on-failure

[Install]
WantedBy=multi-user.target
