[Unit]
Description=Service for running the parsing process
Wants=parse.timer

[Service]
Type=oneshot
User=ubuntu
WorkingDirectory=/home/ubuntu/novikn552ta
ExecStart=/bin/bash -c "cd /home/ubuntu/novikn552ta/cmd make start_parse"

[Install]
WantedBy=multi-user.target
